header{
	text-align:center;
	font-weight:bold;
	font-size:100px;
}

p{
	text-align:center;
}

body{	
	background-image:url(logo.png),url(mascotte.png);
	background-attachment:fixed , fixed;
	background-repeat:no-repeat, no-repeat;
	background-position:center center , bottom right;
}

#a{
	font-size : 20px;
	width : 200px;
	height : 30px;
	margin-top : 5%;
	margin-left : 20%;
	text-align: center;
	
}

#d{
	font-size : 20px;
	width : 200px;
	height : 30px;
	margin-top : -3.75%;
	margin-left : 65%;
	text-align: center;
}



input{
	font-size : 20px;
	width : 200px;
	height : 30px;
	margin-top : 10%;
	margin-left : 42.5%;
	text-align: center;
}

#date_arrivée{
	font-size : 20px;
	width : 200px;
	height : 30px;
	margin-top : 0%;
	margin-left : 20%;
	text-align: center;
}

#date_départ{
	font-size : 20px;
	width : 200px;
	height : 30px;
	margin-top : 0%;
	margin-left : 28.75%;
	text-align: center;
}

content-editable {
  border:1px solid #999;
  padding:10px;
}